.ball {
  border: black 0.01vh solid;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  display: inline-block;
}

.balls {
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url('./palm-field-5404428_1920.jpg');
  height: 50vh;
  text-align: center;
  padding: 10%;
  font-family: 'Comfortaa', cursive;
}

button {
  border: none;
  border-radius: 15px;
  padding: 1%;
  background-color: #333;
  font-weight: bolder;
  color: white;
}

#clear-score {
  background-color: rgb(201, 12, 12);
}

#reset-game {
  background-color: seagreen;
}

.container {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 1% 2%;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0%;
  }

  button {
    width: 15vh;
    height: 7vh;
  }
}

