.color {
  border: 1px solid black;
  height: 41px;
  width: 41px;
}

.pixel {
  background-color: white;
  border: 1px black solid;
  height: 41px;
  width: 41px;
}

#selectedColor {
  height: 41px;
  width: 41px;
}

.pixel-board {
  border-collapse: collapse;
}

.selected {
  border: 1px solid black;
  height: 41px;
  width: 41px;
}

body {
  height: 50vh;
  text-align: center;
  padding: 10%;
  font-family: 'Comfortaa', cursive;
  background-image: url('./rain-water-5470471_1920.jpg');
}

.board-size:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 15px;
  padding: 1%;
  font-weight: bolder;
}

#clear-board {
  background-color: rgb(218, 11, 11);
}

#generate-board {
  background-color: green;
}

.board-size {
  width: 15vh;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 1%;
}

.container {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 1% 2%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0%;
  }

  button {
    width: 15vh;
    height: 7vh;
  }
}
