.color {
  border: 1px solid black;
  height: 41px;
  width: 41px;
}

.pixel {
  background-color: white;
  border: 1px black solid;
  height: 41px;
  width: 41px;
}

.pixel-board {
  border-collapse: collapse;
}

.selected {
  border: 1px solid black;
  height: 41px;
  width: 41px;
}

body {
  font-family: Lato, sans-serif;
  height: 50vh;
  background-color: gray;
}

button {
  border: none;
  border-radius: 15px;
  padding: 1%;
  font-weight: bolder;
}

#clear-board {
  background-color: rgb(218, 11, 11);
}

#generate-board {
  background-color: green;
}

input {
  width: 15vh;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 1%;
}

