.completed {
  text-decoration: line-through;
}

.selected {
  background-color: gray;
}

.task {
  cursor: pointer;
}

.selected {
  background-color: gray;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
}

.list-item {
  cursor: pointer;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 18px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 8px;
}

#add-task {
  background-color: royalblue;
}

input:focus {
  outline: none;
}

body {
  height: 50vh;
  background-image: url('./pine-5425201_1920.jpg');
  padding: 10%;
  font-family: 'Comfortaa', cursive;
}

.container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 2%;
}

p {
  margin-top: 0;
}

h1 {
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
}

#how-works {
  font-size: 18px;
  color: #333;
}

input {
  width: 85%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 7px 18px;
}

button:focus {
  outline: none;
}

li {
  font-weight: bold;
  font-size: 18px;
  color: black;
  border-bottom: 1px solid rgb(77, 75, 75);
  margin-top: 5px;
}

ul {
  padding-inline-start: 20px;
}

#move-up {
  background-color: royalblue;
}
#move-down {
  background-color: royalblue;
}
#selected-remove {
  background-color: rgb(172, 19, 19);
}
#done-remove {
  background-color: rgb(172, 19, 19);
}
#clear-all {
  background-color: rgb(172, 19, 19);
}
#save-tasks {
  background-color: green;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: black;
    padding: 0%;
  }

  input {
    width: 50%;
  }
}
